.login{
    margin-top: 50px;
}
.login input ,.login button{
    display: block;
    width: 80%;
    height: 40px;
    margin: 10px 10%;
    font-size: 17px;
    border-style: solid;
}
.login p{
    color: red;
    text-align: center;
}

.login button{
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
}

.login a{
    color: var(--main-color);
}